.shared-files-custom__heading-title() {
	@group-item-font-color: #777777;
	@group-item-font-shadow: 0px 1px 0px #ffffff;

	color: @group-item-font-color !important;
	text-shadow: @group-item-font-shadow !important;
}

.shared_files_custom__heading .title {
	.shared-files-custom__heading-title();
}

.panel.left_panel .items_list.collapsible .item.accordion .collapse_handler.shared_files_custom__folder_collapse_handler.expanded:before {
	transform: rotate(90deg);
	margin-top: -6px;
}