<div data-bind="attr: {'class': `item accordion canSelect shared_files_custom__folder_level${level}`},
	 css: {'selected': (fullPath() === $root.currentPath() || (fullPath() + '/') === $root.currentPath())},
	 click: function () { $root.routeFiles(type(), fullPath()); }"
>
	<a href="javascript: void(0);" class="title">
		<span class="name">
			<span class="collapse_handler shared_files_custom__folder_collapse_handler"
				  data-bind="css: {'expanded': expanded(), 'collapsed': !expanded(), 'empty': explicitlyNoSubfolders()},
				  click: toggleExpanded"
			></span>
			<span class="text" data-bind="text: name()"></span>
		</span>
	</a>
</div>
<!-- ko if: expanded -->
	<!-- ko foreach: subfolders -->
		<!-- ko template: { name: $data.ViewTemplate, data: $data} --><!-- /ko -->
	<!-- /ko -->
<!-- /ko -->
