<div class="item shared_files_custom__heading">
	<span class="title">
		<span class="name">
			<span class="text" data-bind="i18n: {'key': 'FILESWEBCLIENT/LABEL_SHARED_STORAGE'}"></span>
		</span>
	</span>
</div>
<!-- ko foreach: ownersData -->
	<div class="item shared_files_custom__heading shared_files_custom__folder_level0">
		<span class="title">
			<span class="name">
				<span class="text" data-bind="text: owner"></span>
			</span>
		</span>
	</div>
	<!-- ko if: hasFiles -->
		<div class="item canSelect shared_files_custom__folder_level1"
			 data-bind="css: {'selected': owner === $parent.currentOwner()},
			 click: function () { $parent.routeOwnerFiles(owner); }"
		>
			<a href="javascript: void(0);" class="title">
				<span class="name">
					<span class="text" data-bind="i18n: {'key': '%MODULENAME%/LABEL_OWNER_FILES'}"></span>
				</span>
			</a>
		</div>
	<!-- /ko -->
	<!-- ko foreach: folders -->
		<!-- ko template: { name: $data.ViewTemplate, data: $data} --><!-- /ko -->
	<!-- /ko -->
<!-- /ko -->
