@sharedFolderCustomOffset: 10px;

.sharedFolderCustomOffset(@level) when (@level < 20) {
	.shared_files_custom__folder_level@{level} .title {
		padding-left: 40px + @sharedFolderCustomOffset * @level !important;
		
		html.rtl & {
			padding-left: 0px !important;
			padding-right: @sharedFolderCustomOffset !important;
		}
	}
	.sharedFolderCustomOffset(@level + 1);
}

.sharedFolderCustomOffset(0);
